
// Base typography
$base-font-family: unquote('Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif');
$base-font-size: 16px;
$base-line-height: 24px;

// Use with $base-font-size to generate the typographic scale
$font-size-decrement-2: 6px;  // 10
$font-size-decrement-1: 3px;  // 13
$font-size-increment-1: 5px;  // 21
$font-size-increment-2: 10px; // 26
$font-size-increment-3: 18px; // 34


// Colors
$text-color: #eee;
$hard-color: #fff;
$soft-color: #ccc;
$bg-color: #222;

$link-color: #f03;
$link-hover-color: $text-color;
$link-active-color: $link-hover-color;
$link-visited-color: $link-color;
$link-focus-color: $link-hover-color;

$selected-font-color: $bg-color;  // color for selected text
$selected-background-color: $text-color;  // bg-color for selected text


// Compass defaults
$default-border-radius: 2px;
$default-transition-duration: 0.4s;