
$base-font-family                 : unquote('Open Sans, Arial, Liberation Sans, FreeSans, sans-serif');
$base-font-size                   : 16px;
$base-line-height                 : 1.5;        // 24px
$tight-line-height                : 1.2;        // 19px

$xsmall-font-size                 : 0.6875em;   // ~11px
$small-font-size                  : 0.8125em;   // ~13px
$large-font-size                  : 1.3125em;   // ~21px
$xlarge-font-size                 : 1.625em;    // ~26px
$xxlarge-font-size                : 2.125em;    // ~34px


$bg-color                         : #f6f6f8;
$line-color                       : #ccc;
$mute-color                       : #888;
$text-color                       : #444;

$decor-color                      : #f03;

$link-color                       : #222;


$base-vmargin                     : 24px; // =$base-line-height
$base-hmargin                     : $base-vmargin;

// Compass defaults
$default-border-radius            : 2px;
$default-transition-duration      : 0.4s;
