
$debug: false;


body {
  background-color: $bg-color;
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  @include hover-link;
  color: $link-color;
}

img {
  @include border-radius;
}

#container {
  @include box-sizing( border-box );
  @include clearfix;
  margin: 0 auto;
  padding: $base-vmargin $base-hmargin;
  width: 978px;
}

#header {
  @include clearfix;
  border-bottom: 1px solid $line-color;
  margin-bottom: $base-hmargin;
  padding-bottom: $base-hmargin;
  .site-title {
    @include replace-linked-text( 'unhyped-logo.png', false, true );
    float: left;
    margin-right: $base-hmargin;
    padding-top: .25em;
  }
  .site-description {
    font-size: $small-font-size;
    float: left;
    width: 20em;
  }
}

#access {
  float: right;
  a {
    @include unstyled-link;
    text-decoration: none;
  }
  .menu {
    @include inline-block;
    font-size: $small-font-size;
  }
  .menu-item {
    @include inline-block;
    margin-left: .5 * $base-hmargin;
    a {
      @include border-radius(5px);
      @include transition;
      background: $line-color;
      padding: .25 * $base-vmargin .5 * $base-hmargin;
      &:focus,
      &:hover {
        background: $link-color;
        color: $bg-color;
      }
    }
    &.selected-menu-item,
    &.current_page_item {
      a {
        background: $dark-bg-color;
        color: $dark-text-color;
        &:focus,
        &:hover {
          background: $link-color;
          color: $bg-color;
        }
      }
    }
  }
}

// Debug colors
@if ( $debug ) {
  #container {
    background-color: rgba( gray, .1 );
  }
  #header {
    background-color: rgba( purple, .1 );
  }
  #access {
    background-color: rgba( red, .1 );
  }
  #main {
    background-color: rgba( green, .1 );
  }
}

