
$debug: false;


body {
  background: $bg-color image-url('gradient-noise.jpg') top left repeat-x;
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  @include transition;
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  text-decoration: none;
}

blockquote {
  font-style: italic;
  text-indent: -.4em;
  *:first-child {
    &:before {
      content: '“';
    }
  }
  *:last-child {
    &:after {
      content: '”';
    }
  }
}

#container {
  @include box-sizing( border-box );
  @include clearfix;
  margin: $base-vmargin auto;
  padding: $base-vmargin $base-hmargin;
  width: 978px; 
}

#header {
  border-bottom: 2px solid $decor-color;
  height: .5 * $base-hmargin + (image-height('unhyped-logo.png') * .5);
  position: relative;
  .site-title {
    @include replace-linked-text( 'unhyped-logo.png', false, true );
    position: absolute;
  }
  .site-description {
    color: $mute-color;
    font-size: $small-font-size;
    position: absolute; left: (image-width('unhyped-logo.png') * .5) + $base-vmargin;
    width: 20em;
  }
}

#nav-primary {
  position: absolute; bottom: 0; right: 0;
  a {
    @include unstyled-link;
    text-decoration: none;
  }
  .menu {
    @include inline-block;
    font-size: $small-font-size;
    margin-top: 10px; // align with logo
  }
  .menu-item {
    @include inline-block;
    margin-left: .25 * $base-hmargin;
    a {
      @include border-top-radius;
      @include transition;
      background: $text-color;
      color: $bg-color;
      padding: .25 * $base-vmargin .5 * $base-hmargin;
      display: block;
      &:focus,
      &:hover {
        background: $decor-color;
      }
    }
    &.selected-menu-item,
    &.current_page_item {
      a {
        background: $decor-color;
      }
    }
  }
}

#featured {
  margin: 2 * $base-vmargin auto;
  position: relative;
  a {
    @include unstyled-link;
  }
  .section-title {
    @include inline-block;
    @include replace-linked-text('picks.png', true, true);
    margin-left: -10px; 
  }
  .social {
    position: absolute;
    top: .5 * $base-vmargin;
    right: 0;
    .title {
      @include inline-block;
      @include replace-linked-text('follow.png', true, true);
      margin: 0;
    }
    .services {
      @include inline-block;
      @include unstyled-list;
      margin: 0;
      .service {
        @include inline-block;
        margin: 0 0 0 .5 * $base-vmargin;
        a {
          display: block;
        }
        &.facebook {
          a {
            @include replace-linked-text('facebook.png', true, true);
          }
        }
        &.twitter {
          a {
            @include replace-linked-text('twitter.png', true, true);
          }
        }
        &.feed {
          a {
            @include replace-linked-text('feed.png', true, true);
          }
        }
        &.ical {
          a {
            @include replace-linked-text('ical.png', true, true);
          }
        }
      }
    }
  }
  .widget-area {
    @include clearfix;
    padding: 20px; // make sure stacks fit inside 
  }
  .widget {
    @include box-stack;
    float: left;
    margin-right: 4%;
    width: 30%;
    .content {
      @include transition;
      @include scale(.94);
      padding: .5 * $base-vmargin .5 * $base-hmargin;
    }
    &:first-child {
      @include translateY(-5px);
      &:before {
        @include rotate(3deg);
        left: 2px;
      }
      &:after {
        @include rotate(-3deg);
        left: -4px;
      }
      &:hover,
      &:focus {
        &:before {
          left: 7px;
        }
        &:after {
          left: -9px;
        }
        .content {
          @include scale(1);
        }
      }
    }
    &:last-child {
      @include translateY(-2px);
      margin-right: 0;
      float: right;
      &:before {
        @include rotate(3deg);
        left: -1px;
      }
      &:after {
        @include rotate(-4deg);
        left: 1px;
      }
      &:hover,
      &:focus {
        &:before {
          left: -5px;
        }
        &:after {
          left: 5px;
        }
        .content {
          @include scale(1);
        }
      }
    }
    &:nth-child(2) {
      &:before {
        @include rotate(-4deg);
        left: 4px;
      }
      &:after {
        @include rotate(1deg);
        left: -2px;
      }
      &:hover,
      &:focus {
        &:before {
          left: 8px;
        }
        &:after {
          left: -6px;
        }
        .content {
          @include scale(1);
        }
      }
    }
  }
}

#main {
  @include clearfix;
  position: relative;
  .hentry {
    @include box;
    padding: $base-vmargin $base-hmargin;
    margin-bottom: .5 * $base-vmargin;
    .entry-meta,
    .entry-excerpt {
      font-size: $small-font-size;
    }
    .entry-meta {
      a {
        @include unstyled-link;
      }
      color: $mute-color;
      .address {
        &:before {
          content: '→';
        }
      }
    }
    .meta-nav {
      @include hidden;
    }
  }
  // Single view styles
  body.singular & {
    float: left;
    margin-top: 2 * $base-vmargin;
    width: 64%;
    .entry-title {
      @include border-top-radius;
      background: $text-color;
      color: $bg-color;
      padding: .25 * $base-vmargin .5 * $base-hmargin;
    }
    .post-thumbnail {
      background: $text-color;
      color: $bg-color;
      img {
        @include border-bottom-radius;
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }
  // No sidebar view styles
  body.nosidebar & {
    float: none;
    width: auto;
  }
  // Home view styles
  body.home & {
    .event {
      float: left;
      width: 64%;
      .post-thumbnail {
        float: right;
        margin-top: .5 * $base-vmargin;
        margin-left: $base-hmargin;
        img {
          @include border-radius;
        }
      }
    }
    .page-title {
      position: absolute;
      top: 0;
      left: 70%;
      &.upcoming {
        @include replace-linked-text('upcoming.png', true, true);
      }
    }
  }
}

#complementary {
  .sidebar {
    .widget {
      @include box;
      padding: $base-vmargin $base-hmargin;
      margin-bottom: .5 * $base-vmargin;
      img {
        @include border-radius;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .staff-listing {
    @include unstyled-list;
    margin: 0;
    .list-title {
      font-weight: bold;
    }
    .staff-member {
      margin-top: .5 * $base-vmargin;
    }
  }
  body.singular & {
    float: right;
    margin-top: 2 * $base-vmargin;
    width: 32%;
  }
}

// Forms 
#main {
  input[type='text'],
  input[type='email'],
  textarea {
    @include border-radius;
    border: 1px solid $line-color;
    padding: .5 * $base-vmargin .5 * $base-hmargin;
  }
  input[type='submit'] {
    @include border-radius;
    background: $decor-color;
    border: none;
    color: white;
    padding: .25 * $base-vmargin .5 * $base-hmargin;
  }
}

// Debug colors
@if ( $debug ) {
  #container {
    background-color: rgba( gray, .1 );
  }
  #header {
    background-color: rgba( purple, .1 );
  }
  #nav-primary {
    background-color: rgba( yellow, .1 );
  }
  #featured {
    background-color: rgba( blue, .1 );
  }
  #complementary {
    background-color: rgba( red, .1 );
  }
  #main {
    background-color: rgba( green, .1 );
  }
}

