
.eo-events {
  @include unstyled-list;
}

.eo-event {
  @include border-radius;
  position: relative;
  a {
    @include unstyled-link;
    text-decoration: none;
  }
  a:focus,
  a:hover {
    .eo-event-details {
    }
    .eo-event-title {
      background: $link-color;
    }
    .eo-event-description {
      @include opacity( 1 );
    }
    .eo-event-meta {
      background: $line-color;
    }
  }
}

.eo-event-thumbnail {
  img {
    height: auto;
    max-width: 100%;
  }
}

.eo-event-details {
  @include border-top-radius;
  @include transition;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.eo-event-title {
  @include border-top-radius;
  @include transition;
  background: $dark-bg-color;
  border-bottom: 1px solid $bg-color;
  color: $dark-text-color;
  display: block;
  font-weight: bold;
  padding: .5 * $base-vmargin $base-hmargin;
}

.eo-event-description {
  @include opacity( 0 );
  @include transition;
  background: $dark-bg-color;
  border-bottom: 1px solid $bg-color;
  color: $dark-text-color;
  display: block;
  padding: .5 * $base-vmargin $base-hmargin;
}

.eo-event-meta {
  @include border-bottom-radius;
  @include transition;
  background: mix( $bg-color, $line-color );
  border: 1px solid $line-color;
  border-top: none;
  bottom: 0;
  font-size: $small-font-size;
  left: 0;
  overflow: hidden;
  padding: .5 * $base-vmargin $base-hmargin;
  position: absolute;
  right: 0;
}

