
// Events wall
.eo-events-wall {
  @include clearfix;
  @include unstyled-list;
  border-top: 2px solid $decor-color;
  padding-top: 2px;
  li {
    margin: 0;
  }
  .eo-event {
    @include box-sizing( border-box );
    float: left;
    border-bottom: 1px solid $bg-color;
    border-right: 1px solid $bg-color;
    width: 25%;
    &:first-child {
      border-bottom: none;
      width: 50%;
      .eo-event-title {
        font-size: $large-font-size;
      }
    }
  }
}
.eo-events-wall .eo-event {
  .eo-event-thumbnail {
    position: relative;
    img {
      height: auto;
      width: 100%;
    }
  }
  .eo-event-details {
    bottom: 0;
    left: 0;
    padding: .25 * $base-vmargin;
    position: absolute;
    right: 0;
    .eo-event-title,
    .eo-event-datetime {
      @include inline-block;
      background-color: $link-color;
      color: $bg-color;
      padding: 0 .25 * $base-vmargin;
      html.rgba & {
        background-color: rgba( $link-color, .8 );
      }
    }
    .eo-event-datetime {
      font-size: $small-font-size;
    }
    .eo-event-link {
      @include inline-block;
      &:focus,
      &:hover {
        .eo-event-title,
        .eo-event-datetime {
          background-color: $decor-color;
        }
      }
    }
  }
  html.csstransitions & {
    .eo-event-title,
    .eo-event-datetime {
      @include transition;
    }
  }
}

// Events list
.eo-events-list {
  @include box-sizing( border-box );
  @include unstyled-list;
  border-right: 1px solid transparent;
  border-top: 2px solid $decor-color;
  float: left;
  margin: 0;
  padding-top: 2px;
  width: 50%;
  h2 {
    border-bottom: 1px solid $line-color;
    color: $decor-color;
    font-weight: bold;
    padding: 0 .25 * $base-hmargin;
    text-transform: uppercase;
  }
}
.eo-events-list .eo-event {
  @include clearfix;
  margin-bottom: 0;
  .eo-event-title {
    @include inline-block;
    float: left;
  }
  .eo-event-datetime {
    @include inline-block;
    color: $mute-color;
    float: right;
    font-size: $small-font-size;
  }
  .eo-event-link {
    @include clearfix;
    border-bottom: 1px solid $line-color;
    display: block;
    padding: .25 * $base-vmargin;
    &:focus,
    &:hover {
      background-color: $decor-color;
      border-bottom: 1px solid darken( $decor-color, 15% );
      color: $bg-color;
      text-decoration: none;
      .eo-event-title {
      }
      .eo-event-datetime {
        color: $bg-color;
      }
    }
  }
  html.csstransitions & {
    .eo-event-link {
      @include transition;
    }
  }
}

// Events map
.eo-events-map {
  @include box-sizing( border-box );
  border-top: 2px solid $decor-color;
  float: left;
  height: 251px;
  padding-top: 2px;
  width: 50%;
}
#map_canvas {
  @include box-sizing( border-box );
  border: 1px solid $line-color;
}

